body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm251-aum-01_1_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=a6cc66028f73bea111103608c255e031');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
  margin: 10px;
}

.btn-primary {
  background-color: transparent;
  color: white;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px;
  font-size: 16px;
  width: 100px;
  text-align: center;
  border: 2px white solid;
  outline: none;
}

.btn-primary:hover {
  cursor: pointer;
  color: #f222ff;
  border: 2px #f222ff solid;
  box-shadow: rgba(140,30,255, 0.4) -5px 5px, rgba(242,34,255, 0.3) -10px 10px, rgba(255,41,117, 0.2) -15px 15px, rgba(255,144,31, 0.1) -20px 20px, rgba(255,211,25, 0.05) -25px 25px;
}

.btn-secondary {
  background-color: transparent;
  color: white;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px;
  font-size: 12px;
  width: auto;
  text-align: center;
  border: 2px white solid;
  margin: 10px;
  outline: none;
}

.btn-secondary:hover {
  cursor: pointer;
  color: #f222ff;
  border: 2px #f222ff solid;
  box-shadow: rgba(140,30,255, 0.4) -5px 5px, rgba(242,34,255, 0.3) -10px 10px;
}

.btn-secondary:outline{
  display:none;
}

.playlists {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
  
  
}


.public {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 20px;
  
  
}

.public-playlists {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 20px;
  
}

.playlist-item {
  padding: 10px;
  margin: 30px;
  color: rgba(140,30,255);
  background: rgba(0,0,0);
  
  box-shadow: rgba(140,30,255, 0.4) -5px 5px, rgba(242,34,255, 0.3) -10px 10px, rgba(255,41,117, 0.2) -15px 15px, rgba(255,144,31, 0.1) -20px 20px, rgba(255,211,25, 0.05) -25px 25px;
  
 
}

.playlist-item:hover {
  
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  cursor: pointer;

}

.public-playlist-item {
  padding: 20px;
  margin: 50px;
  color: rgba(140,30,255);
  background: black;
  
  box-shadow: rgba(140,30,255, 0.4) -5px 5px, rgba(242,34,255, 0.3) -10px 10px, rgba(255,41,117, 0.2) -15px 15px, rgba(255,144,31, 0.1) -20px 20px, rgba(255,211,25, 0.05) -25px 25px;
}

.public-playlist-item:hover {
  
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  cursor: pointer;

}

.shared-playlist-item {
  padding: 10px;
  margin: 30px;
  color: rgba(255,41,117, 0.2);
  background: black;
  
  box-shadow: rgba(140,30,255, 0.4) -5px 5px, rgba(242,34,255, 0.3) -10px 10px, rgba(255,41,117, 0.2) -15px 15px, rgba(255,144,31, 0.1) -20px 20px, rgba(255,211,25, 0.05) -25px 25px;
}

.shared-playlist-item:hover {
  
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  cursor: pointer;

}

.playlist-name {
  margin: 20px;
  font-size: 24px;
  color: white;
  
}

.owner-name {
  margin: 20px;
  font-size: 12px;
  color: rgba(140,30,255);
}

form {
  color: purple;
  box-shadow: rgba(140,30,255, 0.4) -5px 5px, rgba(242,34,255, 0.3) -10px 10px, rgba(255,41,117, 0.2) -15px 15px, rgba(255,144,31, 0.1) -20px 20px, rgba(255,211,25, 0.05) -25px 25px;
}





